<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false" thread-count="8">
  <test name="Test" junit="true">
    <classes>



<!-- xfuzzy -->
      <class name="org.sonar.plugins.sedcat.xfuzzy.QualityTests"/>
      <class name="org.sonar.plugins.sedcat.xfuzzy.ActionsTests"/>
      
<!-- storage -->
      <class name="org.sonar.plugins.sedcat.storage.QualityMeasureStoreTests"/>
      <class name="org.sonar.plugins.sedcat.storage.ActionsMeasureStoreTests"/>
      
<!-- stategies -->
      <class name="org.sonar.plugins.sedcat.strategies.ExpertSystemActionsTests"/>
      <class name="org.sonar.plugins.sedcat.strategies.ExpertSystemActionsMocksTests"/>
      <class name="org.sonar.plugins.sedcat.strategies.ExpertSystemQualityTests"/>
      
<!-- start -->
      <class name="org.sonar.plugins.sedcat.start.GeneralComputerTests"/>
      <class name="org.sonar.plugins.sedcat.start.SedcatMetricsTests"/>
      <class name="org.sonar.plugins.sedcat.start.SedcatPluginTests"/>
      
<!-- scanners -->
      <class name="org.sonar.plugins.sedcat.scanners.MutationsCoverageSensorTests"/>
      <class name="org.sonar.plugins.sedcat.scanners.MutationsReportFinderTests"/>
      <class name="org.sonar.plugins.sedcat.scanners.MutationsReportParserTests"/>
      <class name="org.sonar.plugins.sedcat.scanners.ComplexityComputerTests"/>


    </classes>

  </test> <!-- Test -->
</suite> <!-- Suite -->
